@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #050816;
    color: #e5e7eb;
    @apply font-sans antialiased selection:bg-ai-blue selection:text-white;
    overflow-x: hidden;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .glass-panel {
    @apply bg-ai-glass backdrop-blur-xl border border-ai-glassBorder shadow-glass;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-ai-blue to-ai-purple;
  }
}

@keyframes wave {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate(0.0deg) }
  100% { transform: rotate(0.0deg) }
}

@layer utilities {
  .animate-waving-hand {
    animation: wave 2.5s infinite;
  }
}
